


body {
    background: url("images/starry-sky-998641.jpg");
   
}

h1 {
    padding-top: 2rem;
    font-family:'Major Mono Display', monospace;
    color: aquamarine;
    text-align: center;
}

#game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#game div {
    border: 1px solid black;
    border-radius: 15%;
    width: 15%;
    height: 200px;
    margin: 15px;
    background-color: midnightblue;
    justify-items: center;
    padding: 10px;
  
    
  }

  footer {
    font-family:'Major Mono Display', monospace;
    color: aquamarine;
    text-align: center;
}
  
